*{
    background-color: beige
}

div{
    font-family: sans-serif;
}

.header{
    text-align: center;
    background-color: lightgreen;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    color: red;
    font-size: 25px;

}

.links {
    color: blue;
    font-size: 25px ;
    font-family: 'Times New Roman', Times, serif;
}

.titles {
    color: black;
    font-size: large;

}

/* .mainimg{
    width: auto;
    height: 200px;
} */

.descriptions{
    font-size: 18px;

}

.ingredients{
    font-size: 20px;
    background-color: lightgreen;

}

.ing-list{
    font-size: 20px;
}

