p{
    color: blue;
}

.mainimg{
    width: auto;
    height: 400px;
    align-content: center;

}

.header{
    text-align: center;
    background-color: lightgreen;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    color: red;
}